## Today Topics
- Print()
- Errors in Python
- Identifiers
- Variables
- Data types
- Data type Conversion/Casting
- Dynamic reading

In [10]:
# Write a python program to print "Welcome to Python Programming"
# python is an interpreted language, 
## case senstitive and space senstive language

In [11]:
print("Welcome to Python Programming") # is used to display the message/value 
                                        # on the sreen as output

Welcome to Python Programming

In [12]:
# python allows us to use both quotations, '' or ""
print('Welcome to Python Programming')

Welcome to Python Programming

In [13]:
# addition(9,5)
print("9+5") # value, message/content

9+5

In [14]:
print(9+5) # value

14

In [15]:
print(8*3) #* represents the multiplication

24

In [16]:
# I want to print name for 3 times,ruthu,ruthu,ruthu
print("ruthu"*3) # word/strings

ruthuruthuruthu

### Identifiers
- An identifier is the identity of perticular variable,class object etc
- It is naming convention given to variables or objects
- Should start from A-Z or a-z or _ (underscore)
- you should not use " ", space a character is python

In [17]:
# printed the data 
number=10 #number is the variable that stores the value 10
print(number)

10

In [18]:
print("number")

number

### Variable 
- A variable is a container that is used to store the data / information
- which holds the values
- **Examples**
    - number=10 X(int,float,str)
    - name="Ruthu"
    - cgpa=9.3

No type declaration in Python

#### Types of variable declaration
- mutli varibale assignment
- mutli assignments

In [20]:
x=10
y=6
z=15
print(x,y,z)
# programmer,you know the i/p and o/p
print(x,y,z,sep=",") # separator operator, which separates the outputs

10 6 15
10,6,15

In [22]:
print(x,end="\n") # new line
print(y,end=" ")
print(z,end="@")

10
6 15@

In [24]:
print(x,y,z,end=",")

10 6 15,

#### operators used in print()
- end="delimeter"
    - ends the print() statement
- sep=""
    - separates the outputs in print()

### Errors in Python
- An invalid statement which not execucted
- 3 types of Errors in python.
    - Syntax Error
        - Error is related to Syntax
    -  Value Error
        - type error,file not found error
    - Indenation Error
        - Error is related to space

In [26]:
print("started with double quotes and ended with single quotes') # both quotations

SyntaxError: EOL while scanning string literal (<ipython-input-26-9d28ca1bd62d>, line 1)

In [27]:
#  10+15
# 90-50
# your surname from your full name

In [28]:
print(90+45)

135

In [29]:
print(9-3)

6

In [30]:
# word and a number
print("ruthu"+"meda")

ruthumeda

In [31]:
print("ruthu"+130417)

TypeError: can only concatenate str (not "int") to str

In [32]:
     print('hi')

hi

In [33]:
f=10
s=10
th=10
print(f,s,th,sep=",")
# no.of lines of code

10,10,10

In [34]:
f=s=th=10 # 
print(s)

10

In [36]:
#mutli assignments in a single
a=67
b=90
print(a,b)

67 90

In [38]:
a,b=67,90
print(b,a,sep=",")

90,67

variable declaration is possible in the middle of program in C<br>
sometimes it is not possible in python

### Data types
- Data is of many types in realtime
- Address:name,c/o,house num,street, mobile number(numeric)
- 3 types of data
    - **int**
        - numerical value/integer value from -inifinite to +infinite
    - **float**
        - floating valuee, point values
    - **str**
        - words,sentence "" ,''
        - a character,collection of character,word

In [2]:
n=35
print(n)
#convert int into float by using float() pre-defined in python
f=float(35)
print(f)

35
35.0

In [4]:
gpa=9.3 # float
x=10.8
num=int(gpa) # 
print("Integer value",num) # sep
y=int(x)
print(y) # floor value,ceil value

Integer value 9
10

In [7]:
# str to int & int to str
st="123" # digits
i=int(st) # type: tests the datatype of var
print(i,type(i))
st

123 <class 'int'>

'123'

In [8]:
name="Ruthu"
print(int(name))

ValueError: invalid literal for int() with base 10: 'Ruthu'

In [9]:
s="907.565"
print(float(s))

907.565

### Type Conversion/Casting
- Converting the variable from one type to another
- int to float,float to int
- str to float,float to str
- str to int,int to str
- 2types of conversion:
    - **Implicit Conversion**
        - conversion by the interpreter itself
    - **Explicit Conversion**
        - conversion by the programmer

In [10]:
val=84 
fl=90.34
## add these 2 values
print(val+fl) # reusltling float, implicit

174.34

In [12]:
num="904"
s=902
# addition
int_val=int(num) # explicit conversion
print(int_val+s)

1806

In [18]:
marks=9045
st="876" # number as string
# find the differnce between those 2 variables
si=int(st) # integer 
print("Difference=",marks-si)
print("Difference=","marks-si")

Difference= 8169
Difference= marks-si

In [16]:
print("ketry884ty4yu949087ytuewrio009iruiu")

ketry884ty4yu949087ytuewrio009iruiu

### Keywords
- A keyword is a reserved word which has a special meaning and purpose
- that cannot be used as an identifer
- which is highlighted in program .
- Total **35** keywords in python

In [19]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- as:alias
- and:logic and operation
- breakjumping statement,breaks the flow of execution
- class:to define a class
- continue:to continue the flow
- global:to declar a variable globally
- del:deletes the existance of iterable/varible
- def:define a function
- else:final conditional statement
- elif:else if ,incase of if block fails
- except:used in exception handling
- for:iterating statement
- from:from module import sub-module
- False:Boolean statement
- if:conditional statement
* import: to import the module
* is : identity operator
* in :membership operator
* lambda:annymous function
* not :not operator
* or : logical or operation
* True:Boolean operator
* return : returns the value
* while :iterating statement
* with :file handling
* yield :returns the multiple value in a function
.....

### Operators in Python
- anything that performs the operation between 2 operands
- a+b:
    - + is the op'r and a,b are the operands
- Arithmetic Operators
    - +,-,*,/,%,** (power)
- Assignment Operators
    - x=10
    - =,+=,-=,*=,/=,!=
- Boolean Operators
    - True/False or 0/1
- Comparisional/Relational Operators
    - <,<=,>,>=,==
- Membership Operators
    - in & not in
- Identity Operators
    - is & is not
- Operators used in print()
    - sep & end

In [21]:
var,var1,var2=9,15,20 # var=9,var1=15,var2=20
print(var is var1) # 9 is 15

False

In [22]:
var1 is not var2 # True/False

True

In [26]:
"2" not in "3420"  # collection of character

False

In [27]:
5<10

True

In [28]:
10<=10

True

In [29]:
9>18

False

In [32]:
var=18 # False

In [33]:
var

18

In [34]:
var is 9

False

### Dynamic reading of inputs
- x=10:constant value which is fixed
- you can pass any value to the single variable
- input()
    - pre-defined function used to read input from user
    - generally it reads str type data from user
- int data type
    - int(input())
- float data type
    - float(input())

In [41]:
# read your college name from user and print it 
clg=input("Enter the college name:")  # reading
print(clg) # printing

Enter the college name:IIIT-NUZVID
IIIT-NUZVID

In [40]:
clg="SRIT-Anantapur"
print(clg)

SRIT-Anantapur

In [43]:
# write a program to read 2 numbers dynamically and perform all the arithmetic operations
f=int(input("First value:"))
s=int(input("Second value:"))
print("sum=",f+s)
print("Difference=",f-s)
print("Product=",f*s)
print("Divisor=",f/s)
print("Divisor=",f//s)
print("Remainder=",f%s)
print("Exponent=",f**s)

First value:9
Second value:5
sum= 14
Difference= 4
Product= 45
Divisor= 1.8
Divisor= 1
Remainder= 4
Exponent= 59049