### Today Topics
- Sets
- Dictionary
- File Handling

### Set
- A set is a well defined collection of objects
- a colletion of elements
- set allows the user to store duplicate elements while initializing
- it will remove the duplicate data after declaration
- set()
- reprsented with {}

In [2]:
tuple--immutable--collection of elements
- list:duplicate elements,

SyntaxError: invalid syntax (<ipython-input-2-941b262eb6bd>, line 1)

In [3]:
A=set([1,2,"ruthu",'srit',"college",'4']) # creating set by using list
A

{1, 2, '4', 'college', 'ruthu', 'srit'}

In [9]:
B={5,6,7,9,5,10,8,4,11,10} # 5,10
for item in B:
    print(item)

4
5
6
7
8
9
10
11

In [8]:
# Can you elemenate the duplicate elements in list ?, We can but by implementing our logicniq
# find the unique list of elements
B=[5,6,7,9,5,10,8,4,11,10] # 5,10
unique=[] # which has no duplicates
for num in B:
    if num not in unique: # not in
        unique.append(num)
unique

[5, 6, 7, 9, 10, 8, 4, 11]

In [10]:
C={6,7,9,10,35,87,10,5}
# union,intersection,disjoint,difference,subset,superset etc..

In [12]:
unique

[5, 6, 7, 9, 10, 8, 4, 11]

In [13]:
unique[2] #

7

In [14]:
unique[2:5] # list

[7, 9, 10]

In [17]:
B[3] # no slicing in sets

TypeError: 'set' object is not subscriptable

In [21]:
C.intersection(B) # common elements in both sets

{5, 6, 7, 9, 10}

In [22]:
B.union(C) # combines the both sets but

{4, 5, 6, 7, 8, 9, 10, 11, 35, 87}

In [25]:
df=B-A #  it will remove the elements of A in B,
df

{4, 5, 6, 7, 8, 9, 10, 11}

In [26]:
B.difference(A)

{4, 5, 6, 7, 8, 9, 10, 11}

In [28]:
# subset,superset,disjoint symmetric etc ..
#If all the elements of one set(A) in another set(B)
# B is called superset of A, while A is called subset of B
A.issubset(B) #both sets have common elements,but not all elements

False

In [30]:
B

{4, 5, 6, 7, 8, 9, 10, 11}

In [31]:
sub={7,6,8,9,4}

In [32]:
sub.issubset(B)

True

In [33]:
B.issuperset(sub)

True

In [34]:
# disjoint set, they are not connected--have no common element

In [35]:
B

{4, 5, 6, 7, 8, 9, 10, 11}

In [36]:
C

{5, 6, 7, 9, 10, 35, 87}

In [38]:
C.isdisjoint(B)

False

In [40]:
B.difference_update(A) #

In [41]:
B # set get updated with the result

{4, 5, 6, 7, 8, 9, 10, 11}

In [42]:
dir(B)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [43]:
B.add("new")

In [44]:
B

{10, 11, 4, 5, 6, 7, 8, 9, 'new'}

In [45]:
B.remove(6) # remove the elements

In [46]:
B

{10, 11, 4, 5, 7, 8, 9, 'new'}

In [48]:
B.discard(11) # removes the element

In [49]:
B

{10, 4, 5, 7, 8, 9, 'new'}

In [57]:
# symmetric difference
#the elements in either of sets but not in intersection
a={1,2,3}
b={3,4}
print(a.intersection(b))
a.symmetric_difference(b) # removes the intersection of elements

{3}

{1, 2, 4}

### Dictionary 
- 2D Data structures
- {key:value}
- pair data structure that contains 2 items,key and value
- keys are the refrences for  values
- keys are unique in nature and will acts as indices
- default indexing-- 0 to len(iter)-1
    - -1 to -infinite
- the entire dictionary will depend on keys only
- keys and value user will declare
- key can be any data type...like int,float,str
- value can be any data structure such as tuple,list,set or dict

In [58]:
d=dict({key:val}) # pre-defined fun to declare a dict

NameError: name 'key' is not defined

In [60]:
dic={12:90,90.34:345,"names":("Ruthu",'vanitha',"Nandini")}
dic

{12: 90, 90.34: 345, 'names': ('Ruthu', 'vanitha', 'Nandini')}

In [61]:
#(key:value)---> item
# if you want to get only keys from dict
# only values from dict
# all items from dict

SyntaxError: invalid syntax (<ipython-input-61-8dbaab52776e>, line 1)

In [62]:
for key in dic: # keys
    print(key) # only keys

12
90.34
names

In [68]:
''' keys=dic.keys()
print(keys) '''
for key in dic.keys():
    print(key)

12
90.34
names

In [69]:
#values=dic.values()
for val in dic.values():
    print(val)

90
345
('Ruthu', 'vanitha', 'Nandini')

In [70]:
for item in dic.items():
    print(item)

(12, 90)
(90.34, 345)
('names', ('Ruthu', 'vanitha', 'Nandini'))

In [67]:
items=dic.items() # list of tuples of items
items

dict_items([(12, 90), (90.34, 345), ('names', ('Ruthu', 'vanitha', 'Nandini'))])

In [71]:
# any single value from dict
#dic[key]=value

NameError: name 'value' is not defined

In [83]:
li=[1,2,3,4,5,6,3,2]
for index in range(0,len(li)+1):
    print(index,li[index],sep=":")

0:1
1:2
2:3
3:4
4:5
5:6
6:3
7:2

IndexError: list index out of range

In [73]:
dic

{12: 90, 90.34: 345, 'names': ('Ruthu', 'vanitha', 'Nandini')}

In [76]:
dic['names'] # tuple of 3 names

('Ruthu', 'vanitha', 'Nandini')

In [77]:
for val in dic['names']:
    print(val)

Ruthu
vanitha
Nandini

In [78]:
dic[90.34]

345

In [80]:
# dic.get(key)
dic.get('names') # corresponding value

('Ruthu', 'vanitha', 'Nandini')

In [89]:
# new data into the dictionary
dic['new_key']='new_value' # keys should not be same,# values can be same

In [90]:
dic

{12: 90,
 90.34: 345,
 'names': ('Ruthu', 'vanitha', 'Nandini'),
 'new_key': 'new_value'}

In [91]:
dic

{12: 90,
 90.34: 345,
 'names': ('Ruthu', 'vanitha', 'Nandini'),
 'new_key': 'new_value'}

In [92]:
dic['key']="new_value"

In [93]:
dic

{12: 90,
 90.34: 345,
 'names': ('Ruthu', 'vanitha', 'Nandini'),
 'new_key': 'new_value',
 'key': 'new_value'}

In [94]:
dic.popitem()

('key', 'new_value')

In [95]:
dic.pop(12) # first key

90

In [96]:
dic

{90.34: 345, 'names': ('Ruthu', 'vanitha', 'Nandini'), 'new_key': 'new_value'}

In [97]:
dic.update({'hi':'hello','prgm':'python','course':'online trainig program'})
dic

{90.34: 345,
 'names': ('Ruthu', 'vanitha', 'Nandini'),
 'new_key': 'new_value',
 'hi': 'hello',
 'prgm': 'python',
 'course': 'online trainig program'}

In [107]:
# read your college from the user and 
# make a dictionary of charactes along  with their acii values
# 'Sri Ramanujan Institute of Technology' # str
#d={'S':ascii value}
st=input()
chars={}
for ch in st:
    chars[ch]=ord(ch) # chars as keys,ascii values as values
print(chars)

hi i am Ruthu From APSSDC
{'h': 104, 'i': 105, ' ': 32, 'a': 97, 'm': 109, 'R': 82, 'u': 117, 't': 116, 'F': 70, 'r': 114, 'o': 111, 'A': 65, 'P': 80, 'S': 83, 'D': 68, 'C': 67}

In [108]:
# prepare a dictionary of squares for the numbers which are even in a range
# 1,10:2,4,6,8,10:4,16,36,64,100--
# num:num**num
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [109]:
# you have to build a menu card application
-- menu card:items and their prices
    - order,you have to pay the bill
    - item not available, # interface
# contact application
# phone contacts--logical part
# empty,save the contact,edit_contact(name,number),search contact,delete contact

SyntaxError: invalid syntax (<ipython-input-109-8698a618c9d5>, line 2)

In [106]:
for ch in "ruthu":
    print(ord(ch))

114
117
116
104
117

### File Handling
- Working with files of all types
- read,write open()
- File Operations
- **open**
    - everyone has to open the file
- **read**
    - whatever the content present in file we will see
- **write**
    - new book/file,write the contents into the file
- **append**
   - adding new data
- **close**
    - closing a file

In [113]:
# syntax to open a file
#open(filename,mode)
file=open("while.py",'r') # mode
# read operation
print(file.read())

''' n=int(input())
it=1
count=0
while it<=n:
    if n%it==0:
        count+=1
    it+=1
if count==2:
    print("prime")
else:print("not prime") '''

a,b=int(input()),int(input())
print("prime numbers using for loop",end=":")
for num in range(a,b+1):
    count=0
    for dig in range(1,num+1):
        if num%dig==0:
            count+=1
    if count==2:
        print(num,end=" ")

# using while

In [116]:
# we can open the file with "with" keyword
with open('while.py','r') as f:
    data=f.read() # into string
print(data)

''' n=int(input())
it=1
count=0
while it<=n:
    if n%it==0:
        count+=1
    it+=1
if count==2:
    print("prime")
else:print("not prime") '''

a,b=int(input()),int(input())
print("prime numbers using for loop",end=":")
for num in range(a,b+1):
    count=0
    for dig in range(1,num+1):
        if num%dig==0:
            count+=1
    if count==2:
        print(num,end=" ")

# using while

str

In [124]:
# we can create new files by using open()
new=open("new.txt",'r') # empty file
print("file is emppty")
new.close()

file is emppty

In [130]:
# creating file with write() mode
with open("write.txt","w") as wr:
    wr.write("Hi I am first line")
#wr.close()
with open("write.txt","r") as rd:
    print(rd.read(5)) # getting fisr n characters

Hi I

In [135]:
# if you want to create a file with 2 or 3 lines
with open("write.txt","w") as wr:
    wr.write("Hi I am first line\nthis is second line\nthis is third line")
#wr.close()
with open("write.txt","r") as rd:
    print(rd.read()) # getting fisr n characters

Hi I am first line
this is second line
this is third line

In [136]:
with open("write.txt","r") as rd:
    print(rd.readline()) # first line in the line

Hi I am first line

In [137]:
# reading the lines of content in file
with open("write.txt","r") as rd:
    print(rd.readlines()) # first line in the line

['Hi I am first line\n', 'this is second line\n', 'this is third line']

In [139]:
# reading the lines of content in file
with open("write.txt","r") as rd:
    lines=rd.readlines()
count=0
for line in lines:
    print(line)
    count+=1
print("No.of lines in file:",count)

Hi I am first line

this is second line

this is third line
No.of lines in file: 3

In [141]:
with open("write.txt",'w') as w:
    w.write("Overwriting the content in file by using write opertion")
w.close()

In [148]:
# append() mode
# write () operation
with open("write.txt",'a') as ap:
    ap.write("Adding content by using append method\n")
with open("write.txt",'r')  as r:
    print(r.read())

Overwriting the content in file by using write opertionAdding content by using append methodAdding content by using append method
Adding content by using append method
Adding content by using append method
Adding content by using append method
Adding content by using append method
Adding content by using append method

In [149]:
# find the frequency of "append" in file
# read an existing file and count the no.of charactes,words and lines in the file

In [151]:
file = open("write.txt", "r")

number_of_lines = 0
number_of_words = 0
number_of_characters = 0
for line in file:
  line = line.strip("\n")
  words = line.split()
  number_of_lines += 1
  number_of_words += len(words)
  number_of_characters += len(line)

file.close()

print("lines:", number_of_lines, "words:", number_of_words, "characters:",number_of_characters)

lines: 6 words: 49 characters: 314

In [168]:
file=open("write.txt",'r')
ch_count=word_count=line_count=0
for line in file.readlines():
    line_count+=1
    for word in line:
        if word==" ": # n words:n-1 spaces
            word_count+=1
        for ch in word:
            if ch.isalpha():
                ch_count+=1
print("No.of lines:",line_count)
print("No.of words:",word_count+1)
print("No.of characters:",ch_count)

No.of lines: 6
No.of words: 44
No.of characters: 271

In [170]:
len([1,2,3,4,56]) # no.of items/elements

5

### Iterators and generators
- iterating statements
    - for and while
- iterators()
    - the function which iterates the iterable
    - by iter and next operator

In [176]:
rn=range(10)
# add 8 to all the numbers in a range
for num in rn:
    print(num,num+8,sep=":") # we cannot the stop iteration in the middle
# user initiate the iteration,
# entire the iterable at a time

0:8
1:9
2:10
3:11
4:12
5:13
6:14
7:15
8:16
9:17

In [173]:
we can retrieve the element by element
user stops the iteration

SyntaxError: invalid syntax (<ipython-input-173-5437c44bb6f9>, line 1)

In [175]:
it=iter(rn) # initialized the iterator
print(next(it)) # element
print(next(it))
print(next(it)) # we can stop at any moment

0
1
2

In [177]:
# iterating statement, we can perform a single operation for entire iteratio
# multiple operations at every moment

In [178]:
it2=iter(rn)
print(next(it2))
print(next(it2)+8)
print(next(it2)-9)
print(next(it2)*3)
print(next(it2)%2)

0
9
-7
9
0

In [179]:
vowels="aeiouAEIOU"
v=iter(vowels)
print(next(v))
print(next(v))
print(next(v))

a
e
i

### Generators
- is a type of function which yields the values
- function returns the single value
- def function_name(args):
    - statements goes here
    - yield keyword

In [183]:
def generator():
    yield 1
    yield 2
    yield 3
    yield 4
    yield 5
    
g=generator()
for num in g:
    print(num)
g[2] # not iterable,function

1
2
3
4
5

TypeError: 'generator' object is not subscriptable

In [188]:
def gen2(n):
    for val in range(1,n+1):
        yield val
        
g2=gen2(10)
for val in g2:
    print(val)

1
2
3
4
5
6
7
8
9
10

In [193]:
def gen3(n): # n values
    for val in range(1,6): # 6times
        yield val
        
g3=gen3(10)
for val in g3:
    print(val)

1
2
3
4
5

In [196]:
def gen4(n):# n values
    for val in range(1,6): # 6times
        yield val
        
g4=gen4(10)
i=iter(g4)
print(next(i))
print(next(i))
print(next(i))

1
2
3

### Comprehensions
- Comprehension is a small description about something
- we can shorten the entire concept
- **List Comprehension**
    - we are shortening the lines of code
    - syntax:
        - [output input sequence condition_check]
- **Dict Comprehension**
    - {key:val}
        - {output input seq condition_check}